<div
  class="modal"
  id="Modal"
  tabindex="-1"
  aria-labelledby="ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <input
          class="modal-title form-control fs-5"
          id="task-title"
          style="max-width: 93%"
          placeholder="Title"
        />
        <button
          id="close-modal-btn"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <label for="task-content" class="form-label">Content:</label>
        <textarea
          class="form-control"
          id="task-content"
          style="max-height: 200px; min-height: 200px"
        ></textarea>
      </div>
      <div class="modal-footer justify-content-start">
        <label for="datetimepicker" class="form-label">Start:</label>
        <input type="datetime-local" class="form-control" id="datetimepicker" />
        <div
          id="alert-msg"
          class="alert alert-danger d-none"
          style="width: 100%; padding: 5px"
          role="alert"
        ></div>
        <div
          class="btn-footer d-flex justify-content-between align-items-center"
          style="width: 100%"
        >
          <small id="task-created" class="text-muted"></small>
          <button id="sbmt-btn" type="button" class="btn btn-primary">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
