body{
    background-color: #fff4fd;
}
#main-container{
    display:flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1060px;
    height:550px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.233);
    background-color: white;
    align-items: center;
    text-align: center;
}
.child {
    width: 50%;
}
.child.img{
    height:100%;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    background-image: url("../../public/images/signin.png");
    background-size: cover;
}
.child.img h1{
    font-weight: bold;
    color:white;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.child.img.right{
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
}
.form-control{
    width: 65%;
    margin: 0 auto 0 auto;
}