.accordion {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

  --bs-accordion-btn-focus-box-shadow: 0 0 0 0;
  --bs-accordion-active-color: white;
  --bs-accordion-color: white;
  --bs-accordion-btn-color: white;
  --bs-accordion-btn-active-color: white;
  --bs-accordion-btn-bg: #875dc5;
  --bs-accordion-bg: #875dc5;
  --bs-accordion-btn-active-bg: #563d7c;
  --bs-accordion-active-bg: #563d7c;
  --bs-accordion-btn-focus-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
}

.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
[class*='accordion-item-'] {
  width: 80%;
  margin: 20px 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border-radius: 10px;
  animation: items 1s;
}

.accordion-button {
  background: rgba(83, 36, 154, 0.4);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 10px;
}
.accordion-button:not(.collapsed) {
  background: rgba(86, 61, 124, 0.4);
}
.accordion-button:focus,
button:focus:not(:focus-visible),
button:focus-visible {
  z-index: 3;
}

.card-text {
  max-height: 150px;
  margin: 5px 10px;
}
.footer {
  margin: 0 10px;
  padding-bottom: 10px;
}

@keyframes items {
  from {
    margin: 0;
    opacity: 0;
  }
  to {
    margin: 20px 10px;
    opacity: 1;
  }
}
