<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs',{"title":title}) %>
  </head>

  <body>
    <main>
      <%- include('../partials/sidebar.ejs',user,today,upcoming)%>
      <div id="content" class="content" style="height: 100%; width: auto">
        <h4 id="content-title" class="display-4"></h4>
        <div class="accordion" id="accordion"><%- tasks %></div>
      </div>
      <%- include("../partials/modal.ejs") %>
      <i id="addBtn" class="fa-solid fa-plus" onclick="showModal()"></i>
      <div
        class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3"
      ></div>
    </main>
  </body>
  <script src="../../public/js/sidebar.js"></script>
  <script src="../../public/js/toast.js"></script>
  <script src="../../public/js/modal.js"></script>
  <script src="../../public/js/task.js"></script>
  <script src="../../public/js/index.js"></script>
</html>
