<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs',{"title":"To-Do App"}) %>
    <link rel="stylesheet" href="../../public/css/index.css" />
  </head>

  <body>
    <main>
      <div class="container-fluid">
        <div class="sidebar close">
          <ul class="list-group">
            <li id="menu-item" class="list-group-item">
              <h2 id="menu-text">Menu</h2>
              <i id="menu-icon" class="fa-solid fa-bars"></i>
            </li>
            <li id="search-item" class="search-item list-group-item">
              <input
                type="text"
                class="form-control"
                id="search-input"
                placeholder="Seach task"
              />
            </li>
            <li class="list-item list-group-item">
              <i class="icons fa-regular fa-calendar"></i>
              <medium>Upcoming</medium>
              <span class="badge bg-secondary">4</span>
            </li>
            <li class="list-item list-group-item">
              <i class="icons fa-regular fa-calendar-check"></i>
              <medium>Today</medium>
              <span class="badge bg-secondary">4</span>
            </li>
            <li class="list-item list-group-item">
              <i class="icons fa-solid fa-list-check"></i>
              <medium>Done</medium>
            </li>
          </ul>
        </div>
        <div class="middle"><%- tasks %></div>
        <div class="right-side">
          <ul class="list-group">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
          </ul>
        </div>
      </div>
    </main>
  </body>
  <script src="../../public/js/index.js"></script>
</html>
