<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs',{"title":"To-Do App"}) %>
</head>

<body>
    <main>
        <button type="button" class="btn btn-primary">click</button>
    </main>
</body>

</html>