<form>
    <div class=" my-3">
        <input type="email" class="form-control" id="EmailInputSignup" aria-describedby="emailHelp" placeholder="Email">
    </div>
    <div class=" my-3">
        <input type="text" class="form-control" id="UsernameInputSignup" aria-describedby="UsernameHelp"
            placeholder="Username">
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" id="PasswordInputSignup" placeholder="password">
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" id="RePasswordInputSignup" placeholder="password">
    </div>
    <button type="submit" class="btn btn-primary">Sign up</button>
</form>