<form id="signup-form">
  <div class="my-3">
    <input type="email" class="form-control" name="email" id="EmailInputSignup" placeholder="Email" required />
  </div>
  <div class="my-3">
    <input type="text" class="form-control" name="username" id="UsernameInputSignup" placeholder="Username" required />
  </div>
  <div class="mb-3">
    <input
      type="password"
      class="form-control"
      name="password"
      id="PasswordInputSignup"
      placeholder="password"
      required
    />
  </div>
  <div class="mb-4">
    <input
      type="password"
      class="form-control"
      id="RePasswordInputSignup"
      placeholder="reapeat your password"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Sign up</button>
  <div id="up-alert-msg" class="alert alert-danger d-none" style="padding: 5px" role="alert"></div>
</form>
