<form>
    <div class="my-3">
        <input type="email" class="form-control" id="EmailInput" aria-describedby="emailHelp"
            placeholder="Email/Username">
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" id="PasswordInput" placeholder="password">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="RememeberCheck">
        <label class="form-check-label" for="RememeberCheck">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>