<form id="signin-form">
  <div class="my-3">
    <input type="text" name="username" class="form-control" placeholder="Email/Username" required />
  </div>
  <div class="mb-3">
    <input type="password" name="password" class="form-control" placeholder="password" required />
  </div>
  <div class="mb-4 d-flex justify-content-evenly">
    <input type="checkbox" name="checkbox" class="form-check-input" id="RememeberCheck" />
    <label class="form-check-label" for="RememeberCheck">Remember me</label>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
  <div id="in-alert-msg" class="alert alert-danger d-none" style="padding: 5px" role="alert"></div>
</form>
