main {
  position: fixed;
  overflow-y: auto;
  inset: 0;
  background-image: url("../images/index-bg-opacity.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#addBtn {
  position: fixed;
  top: 92%;
  left: 95%;
  color: $primary;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s ease;
  transform-origin: bottom right;
}
#addBtn::before{
  font-size: 4em;
}
#addBtn:hover {
  transform: scale(1.7);
}

.accordion{
  margin-left: 15%;
}
.image-title {
  max-width: 400px;
  max-height: 70px;
  position: relative;
  top: 10px;
  left: 5%;
  margin-left: 10%;
  animation: title-enter 1.5s;
}
.image-logo{
    position: fixed;
    max-width: 200px;
    max-height: 70px;
    right: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#task-placeholder {
  margin: 30px 0 0 300px;
}
@media only screen and (max-width: 640px) {
  #task-placeholder {
    left: 55%;
  }
  #addBtn {
    top: 90%;
    left: 85%;
  }
}
@keyframes title-enter {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
