main {
  position: fixed;
  overflow-y: auto;
  inset: 0;
  background-image: url("../images/index-bg-opacity.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#addBtn {
  position: fixed;
  top: 92%;
  left: 96%;
  z-index: 2;
  font-size: 25px;
  padding: 15px 15px;
  background-color: $primary;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: font-size 0.3s ease;
}
#addBtn:hover {
  font-size: 30px;
}
#content-title {
  margin-left: 10%;
  animation: title-enter 1s;
}
#task-placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  opacity: 0.4;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 640px) {
  #task-placeholder {
    left: 55%;
  }
  #addBtn {
    top: 90%;
    left: 85%;
  }
}
@keyframes title-enter {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
